.time-box{
	width:50px;
	height:50px;
	display:table;
	border:1px solid #16baaa;
	margin:-40px auto;

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;

	-webkit-transform:rotate(45deg) scale(0.35);
	-moz-transform:rotate(45deg) scale(0.35);
	-ms-transform:rotate(45deg) scale(0.35);
	-o-transform:rotate(45deg) scale(0.35);
	transform:rotate(45deg) scale(0.35);
}
.time-box-inner{
	width:150px;
	height:150px;
	display:table;
	text-align:center;

	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.time-number{
	font-size:65px;
	width:100%;
	display:inline-block;
	font-weight:300;
	padding-top: 15%;


	-webkit-transition:all .25s;
	-moz-transition:all .25s;
	-ms-transition:all .25s;
	-o-transition:all .25s;
	transition:all .25s;
}
.time-number .digit{
	line-height: 60px;
	display: inline-block;
	overflow: hidden;
}

.time-name{
	font-size:15px;
	text-transform:uppercase;
	font-weight:700;
}
.time-until{
	text-align:center;
	margin:0;
}
.time-until span{
	color: #fff;
	font-size:18px;
	line-height:40px;
	display:inline-block;
	background-color:#3498db;
	text-transform:uppercase;
	padding:0px 25px;
}